<header class="header">   

    <div class="container">

        <a href="./" class="logo"><img src="/images/logo-xcoder.png" alt="logo"></a>

        <form class="search" action="" method="get">
            <input type="search" name="search" id="search" placeholder="Pesquisar">
        </form>

        <div class="container2">
            
            <% if(!user) {%>
                <div class="container2">
                    <a href="./login" class="login" name="login">Log in </a>
                    <a href="./register" class="register" name="register"> Sign up</a>
                </div>
            <% } else { %>
                <a href="./paineldousuario" class="username"><%= user.name %></a>
            <% } %>
            <div>
                <% if(user){ %>
                    <a class="carrinho" href="./carrinho"><img src="/images/cart.svg" alt="carrinhoDeCompras"></a>
                <% } else { %>
                    <a class="carrinho" href="./login"><img src="/images/cart.svg" alt="carrinhoDeCompras"></a>
                    <% } %>

                    <% if(user) { %>
                        <div class="preco-carrinho"><p>$250</p></div>
                   <% } %>
            </div>
        </div>  

    </div>
                 
    <nav class="navbar">
        <a id="colecionaveis" href="./listagemDeProduto">Colecionáveis</a>
        <a id="informatica" href="./listagemDeProduto">Informática</a>
        <a id="jogos" href="./listagemDeProduto">Jogos</a>
        <a id="lancamentos" href="./listagemDeProduto">Lançamentos</a>
        <a id="modas" href="./listagemDeProduto">Modas</a>
        <a id="promoçoes" href="./listagemDeProduto">Promoções</a>
    </nav>

</header>